<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The sun rising</title>
    <style type="text/css" media="screen">
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .page-bottom {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            bottom: 10px;
            color: #333;
            color: #999;
            font-size: 12px;
            transform: scale(1);
        }
    </style>
</head>
<body>
<div class="time-con">Loading......</div>
<div class="page-bottom">
    <div class="end-time">2020年12月6日 23:59</div>
    <div class="new-year-time">Loading......</div>
</div>
<script>
    const startTime = <%= name %>;
    function formatDuring(time) {
        var days = parseInt(time / (1000 * 60 * 60 * 24));
        var hours = parseInt((time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = parseInt((time % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = ((time % (1000 * 60)) / 1000).toFixed(0);
        return days + " 天 " + hours + " 小时 " + minutes + " 分钟 " + seconds + " 秒 ";
    }
    setInterval(()=>{
        const currentTime = new Date().getTime() - startTime;
        const newYear = 1612972800000 - new Date().getTime();
        const timeText = formatDuring(currentTime);
        const newYearTime = formatDuring(newYear);
        var timeCon = document.getElementsByClassName('time-con')[0];
        var newYearNode = document.getElementsByClassName('new-year-time')[0];
        timeCon.innerHTML = timeText;
        newYearNode.innerHTML = `新年倒計時: ${newYearTime}`;
        // timeCon.style['color'] = `#${Math.random().toString(16).substr(2, 6).toUpperCase()}`;
    },1000);
</script>

</body>
</html>
