<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user</title>
</head>
<body>
<a href="https://github.com/login/oauth/authorize?client_id=7999685c3840252ed6b3&redirect_uri=http://localhost:3000/callback">授权</a>
</body>
</html>
